@import url('datatables.net-bs5');
@import url('datatables.net-responsive-bs5');

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.uploadText {
  padding-top: 10px;
}


.card {
  padding: 2em;
}

.img {
  height: 40px;
  width: 40px;
  max-width: 5%;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration: none;
  color:black;
}

a:visited {
  color:black;
}

